!!!XML
!!!Strict
%html
  %head
    %title try javascript! (in your browser)

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/try-ruby.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css' }

    %script{ :type => 'text/javascript',   :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/mouseapp_2.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/mouseirb_2.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/irb.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/jquery.json.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/javascript_irb.js' }
    %script{ :type => 'text/javascript',   :src => '/javascripts/application.js' }

  %body
    #container

      #header<
        %img{ :src => '/images/header.png' }

      #content

        #lilBrowser
          #lbTitlebar
            %h3#lbTitle A Popup Browser
            %p#lbClose== [<a href="javascript:void(window.irb.options.popup_close());">x</a>]
          %iframe{ :src => 'about:blank', :id => 'lbIframe', :height => '400', :width => '500' }
        
        #shellwin

          #terminal
            #irb

        #helpstone
          .stretcher.chapmark
            %h3
              Got 15 minutes? Give JavaScript a shot right now!
            %p
              JavaScript is a scripting language, most often used in web sites.  
              Every modern web browser have JavaScript built in.  Once you're learned 
              JavaScript, you an write code that can be run on any web site!
            %p
              Try out JavaScript code in the prompt above.  In addition
              to JavaScript's builtin functions, the following commands are available:
            %ul.commands
              %li
                %strong
                  help
                Start the 15 minute interactive tutorial.  Trust me, it's very basic!
              %li
                %strong
                  help 2
                Hop to chapter two.
              %li
                %strong
                  clear
                Clear screen.  Useful if your browser starts slowing down.
                Your command history will be remembered.
                </dd>
              %li
                %strong
                  back
                Go back one screen in the tutorial.
              %li
                %strong
                  reset
                Reset the interpreter if you get too deep. (or
                %b
                  Ctrl-D
                \!)
              %li
                %strong
                  time
                A stopwatch.  Prints the time your session has been open.
            %p
              If you happen to leave or refresh the page, your session will still be here for
              unless it is left inactive for ten minutes.
            %br
            .answer

        .note
          Has something gone wrong?  Do you want to reset your variables?  Type:
          %strong
            reset
          or hit
          %strong
            Ctrl-D

      #footer
        %img{ :src => "/images/footer.png" }
      %p
        Whytheluckystiff was the original author. He has since vanished. Andrew McElroy is the new main maintainer.
        %a{ :href => "http://github.com/sophrinix/TryJavaScript" }
          check out the github repo
        to help with this project.

    %input#irb_input.keyboard-selector-input{ :type => "text", :autocomplete => "off" }

    %input#selenium{ :type => 'hidden' }
