.stretcher
  %h3 Using the Prompt

  %p
    The blue window above is a JavaScript prompt.  Type a line of JavaScript code, hit
    %em
      Enter
    and watch it run!

  %p
    For example, try typing some math.  Like:
    %code.cmd
      2 + 6

  .answer \d+

.stretcher
  %h3 Numbers &amp; Math

  %p
    Good!  You did a bit of math.  See how the answer popped out?
  %p
    JavaScript recognizes numbers and mathematic symbols.  You could try some other math like:
  %ul
    %li
      %code
        4 * 10
    %li
      %code
        5 - 12
    %li
      %code
        40 / 4
  %p
    Sure, computers are handy and fast for math.  Let's move on.  Want to see your name in all capital letters?
    Type your first name in quotes like this:
    %code.cmd
      "Jimmy"

  .answer "(\w+)"

.stretcher
  %h3 Shout Your Name

  %p
    Perfect, you've formed a
    %strong
      string
    from the letters of your name.  A string
    is a set of characters the computer can process.
  %p
    Imagine the letters are on a string of
    laundry line and the quotes are clothespins holding the ends.  The quotes mark the beginning and end.
  %p
    To put your name in all caps, type:
    %code.cmd
      "Jimmy".toUpperCase()
    (
    %em
      Don't forget the dot!
    )

  .answer "(\w+)"

.stretcher
  %h3 Counting the Letters

  %p
    You have used the
    %code toUpperCase
    %strong function
    on your name!  By enclosing your name in
    quotes, you made a string.  Then you called the
    %code toUpperCase
    function, which works on strings to capitalize all the letters.
  %p
    Now, let's see how many letters are in your name:
    %code.cmd
      "Jimmy".length

  .answer \d+

.stretcher
  %h3 String Substitutions

  %p
    Now, I'm sure by now you're wondering what any of this is good for.  Well, I'm sure you've been to
    a website that screamed,
    %em
      Hey, your password is too short!
    See, some programs
    use this simple code.
  %p
    Watch this.  Let's replace a letter in your name.
    %code.cmd
      "Jimmy".replace("J", "T")

  .answer "(\w+)"

.stretcher.chapmark
  %h3 Hey, Summary #1 Already

  %p
    Let's look at what you've learned in the first minute.
  %ul
    %li
      %strong
        The prompt.
      Typing code into the green prompt gives you
      an answer from a red prompt.  All code gives an answer.
    %li
      %strong
        Numbers and strings
      are JavaScript's math and text objects.
    %li
      %strong
        Functions.
      You've used functions like
      %code
        toUpperCase
      and
      %code
        replace
      Functions are action!
  %p
    This is the essence of your learning.  Taking simple things, toying with
    them and turning them into new things. Feeling comfortable yet?  I promise you are.
  %p
    Okay, let's do something uncomfortable.  Try capitalizing a number:
    %code
      (40).toUpperCase()
    (To call a function on a number, you need to wrap it in parenthesis)

  .answer "TypeError.*toUpperCase is not a function"

.stretcher
  %h3 Stop, You're Barking Mad!

  %p
    You can't capitalize the number forty. 
    Capitalizing a number just doesn't make sense. 
    JavaScript has tossed an error message.
    JavaScript is telling you there is no function
    %code
      toUpperCase
    for numbers.
  %p
    Maybe if you turn it into a string:
    %code.cmd
      (40).toString().toUpperCase()

  .answer "(\w+)"

.stretcher
  %h3 Boys are Different From Girls

  %p
    And numbers are different from strings.  While you can use functions on any object
    in JavaScript, some functions only work on certain types of things.  But you can always
    convert between different types using some built-in JavaScript functions.
  %ul
    %li
      %strong
        object.toString()
      converts things to
      %string
        strings.
    %li
      %strong
        parseInt(object)
      converts things to
      %strong
        Integers 
      (numbers without a decimal point.)
    %li
      %strong
        parseFloat(object)
      converts things to
      %strong
        Floats 
      (numbers with a decimal point.)
  %p Now let's learn about arrays.
  %p
    %em
      What are arrays?!
    They are lists.  Type in a pair of brackets:
    %code.cmd
      []

  .answer \[\]

.stretcher
  %h3 Standing in Line

  %p
    Great, that's an empty list.  Lists store things
    %strong
      in order
    \.
    Like standing in line for popcorn.  You are behind someone and you wouldn't
    dream of pushing them aside, right?  And the guy behind you, you've got a
    close eye on him, right?
  %p
    Here's a list for you.  Lottery numbers:
    %code.cmd
      [12, 47, 35]

  .answer \[(\d+(,)?( )?){2,}\]

.stretcher
  %h3 Backwards Forwards

  %p
    A list of lottery numbers.  What do they look like in reverse?
  %p
    Try:
    %code.cmd
      [1, 5, 10, 15].reverse()

  .answer \[(\d+(,)?( )?){2,}\]

.stretcher
  %h3 Tucking a List Away

  %p
    Good, good.  But it's annoying to have to retype that list, isn't it?
  %p
    Let's save our numbers inside a
    %code
      ticket
    like so:
    %code.cmd
      var ticket = [12, 47, 35]

  .answer \[(\d+(,)?( )?){2,}\]

.stretcher
  %h3 Now Type Ticket

  %p
    Now, type:
    %code.cmd
      ticket

  .answer \[(\d+(,)?( )?){2,}\]

.stretcher
  %h3 Saved, Tucked Away

  %p
    Fantastic!  You've hung on to your lotto numbers, tucking them away inside a
    %strong
      variable
    called
    %code
      ticket

  %p
    Let's put your lotto numbers in order, how about?  Use:
    %code.cmd
      ticket = ticket.sort()

  .answer \[(\d+(,)?( )?){2,}\]

.stretcher.chapmark
  %h3 Summary #2 is Upon Us

  %p
    You had a list.  You sorted the list.  The
    %code
      ticket
    variable is now changed.
  %p
    Now, look how your second minute went:
  %ul
    %li
      %strong
        Errors.
      If you try to reverse a number or do anything fishy,
      JavaScript will skip the prompt and tell you so.
    %li
      %strong
        Arrays
      are lists for storing things in order.
    %li
      %strong
        Variables
      save a thing and give it a name.  You used the
      equals sign to do this.
      %br
      Like:
      %code
        ticket = [14, 37, 18]
      \.
  %p
    In all there are eight lessons.  You are two-eighths of the way there!
    This is simple stuff, don't you think?  Good stuff up ahead.
  %p
    Let's change directions for a moment.  I've stuffed a bit of poetry for you in
    a certain variable.  Take a look.  Type
    %code.cmd
      poem

  .load
    var poem = "My toast has flown from my hand\nAnd my toast has gone to the moon.\nBut when I saw the toast on television,\nPlanting our flag on Halley's comet,\nMore still did I want to eat it."

  .answer "My toast(.+)

.stretcher
  %h3 Sadly, You Hate Toast Poetry

  %p
    Look, it's okay.  You don't have to like it.  Hack it up, be my guest.
  %p
    Instead of toast, go for a melon or something.  Try this:
  %p
    %code.cmd
      poem = poem.replace('toast', 'honeydew')

  .answer "My honeydew(.+)

.stretcher
  %h3 Too Much Toast

  %p
    The
    %code
      replace
    function only replaced the first bit of 
    %em
      toast
  %p
    If we want to replace all of the toast in the poem 
    with out delicious melons melons.
  %p
    Try:
    %code.cmd
      poem = poem.replace('toast', 'honeydew', 'g')

  %p.note
    (the 'g' stands for global)

  .answer "My honeydew(.+)

.stretcher
  %h3 No More Newlines

  %p
    Okay, we replaced all the toast with melons, but we're not sure we like new lines either.

  %p
    Let's see what the poem looks like without new lines, so the whole poem is on one line.

  %p
    Try:
    %code.cmd
      poem.replace("\n", '', 'g')

  %p.note
    in double quotes, "\n" represents a new line.

  .answer "My honeydew has flown from my handAnd my honeydew(.+)
    
.stretcher
  %h3 Splitting Strings

  %p
    Getting rid of new lines doesn't look very nice.  Let's try something else.

  %p
    Now that we know how to select new lines, lets try using the 
    %code
      split
    function to turn the poem into an array, which each line being an item in the list.

  %p
    Try
    %code.cmd
      poem.split("\n")

  .answer \["My honeydew has flown from my hand"(.+)

.stretcher
  %h3 Reverse Poem

  %p
    Now that we can break the poem up by its lines, let's reverse it!

  %p
    Try
    %code.cmd
      poem.split("\n").reverse()

  .answer \["More still did I want to eat it(.+)

.stretcher
  %h3 Ringlets of Chained Methods

  %p
    So what do you see?  What happened there?  You typed
    %code
      poem.split("\n").reverse()
    and what happened?
  %p
    Two things happened.  You turned the
    %code
      poem
    into a list using
    %code
      split

    When JavaScript turns a string into an array, its breaks the whole thing up
    using whatever you pass it
    %em
      (eg. "\n" to break it up at each new line) 
    so you end up getting each line of the poem
  %p
    Then, you
    %code
      reverse()
    that list.  You had each line.  You reversed them.  That's it.
  %p
    Let's tack one more method on the end there:
    %code.cmd
      poem.split("\n").reverse().join()

  .answer "More still did I want to eat it(.+)

.stretcher.chapmark
  %h3 Of All the Summaries, #3 is Here Now

  %p
    Good show, my friend!  The
    %code
      join
    method took that list of reversed lines and put them
    together into a string.

  %p
    Review time.
  %ul
    %li
      %strong
        Substitution.
      String substitutions are easy in JavaScript using functions like 
      %code
        replace
    %li
      %strong
        Strings to Arrays to Strings.
      Using functions like 
      %code
        split
      and 
      %code
        join
      can be used to convert strings into lists and vice-versa.
    %li
      %strong
        Chaining
      methods lets you get a lot more done.  Break up a poem,
      reverse it, reassemble it:
      %code
        poem.split("\n").reverse().join()
  %p
    At this point, you may want to tinker with the poem a bit more.  A complete list of all
    the
    %code
      String
    functions is
    %a{ :href => "http://www.w3schools.com/jsref/jsref_obj_string.asp", :target => "_blank" }
      here
    Go ahead and try a few (such as
    %code
      poem.indexOf('honey')
    or
    %code
      poem.toLowerCase()
    \.)
  %p
    When you're ready to move on, type:
    %code.cmd
      books = {}

  .answer \{\}

.stretcher
  %h3 A Wee Blank Book

  %p
    You've made an empty
    %strong
      hash
    (Also known as: an empty
    %em
      dictionary
    )
  %p
    We're going to stuff some miniature book reviews in this hash.  Here's our rating system:
  %ul
    %li
      %code
        "splendid"
      → a masterpiece.
    %li
      %code
        "quite_good"
      → enjoyed, sure, yes.
    %li
      %code
        "mediocre"
      → equal parts great and terrible.
    %li
      %code
        "quite_not_good"
      → notably bad.
    %li
      %code
        "abyssmal"
      → steaming wreck.
  %p
    To rate a book, put the title in square brackets and put the rating after the equals.
  %p
    For example:
    %code.cmd
      books["Gravity's Rainbow"] = "splendid"

  .answer "(\w+)"

.stretcher
  %h3 More Bite-Size Reviews

  %p
    Keep going, fill it up with reviews.  And, if you want to see the whole list,
    just type:
    %code
      books
  %p
    Again, the ratings are:
    %code
      "splendid"
    ,
    %code
      "quite_good"
    ,
    %code
      "mediocre"
    ,
    %code
      "quite_not_good"
    , and
    %code
      "abyssmal"
    \.
  %p
    Once you've got
    %strong
      three
    or
    %strong
      four
    books in
    there, type:
    %code.cmd
      books

  .answer \{(.+)\}

.stretcher
  %h3
    Wait, Did I Like

    %em
      Gravity's Rainbow
    ?
  %p
    If you'd like to look up one of your old reviews, again put the title in the square.  But leave off
    the equals.
  %p
    Just like this:
    %code.cmd
      books["Gravity's Rainbow"]

  .answer "(\w+)"

.stretcher
  %h3 Hashes as Pairs

  %p
    Keep in mind that hashes won't keep things in order.  That's not their job.  It'll just pair up two
    things: a
    %strong
      key
    and a
    %strong
      value
    
    In your reviews, the key is the book's
    title and the value is the rating.
  %p
    If you want to just see the titles of the books you've reviewed:
  %code.cmd
    for (book in books) puts(book);

  .note
    puts() is a custom function for printing to the Try JavaScript terminal

  .answer undefined

.stretcher
  %h3 Are You Harsh?

  %p
    So are you giving out harsh, unfair reviews?  Let's keep score with this hash:
    %br
    %code.cmd
      ratings = { splendid: 0, quite_good: 0, mediocre: 0, abyssmal: 0 }
  %p
    Then, okay, now let's count up your reviews.  Just stay with me.  Type:
    %br
    %code.cmd
      for (book in books) ratings[books[book]] += 1

  .answer \d+

.stretcher
  %h3 A Tally

  %p
    Great, wow!  You've made a scorecard of your ratings.  Type
    %code
      ratings
    to see the count.
    This new hash shows a rating and then the number of times you've given that rating.
  %p
    One of the amazing new things we've just used is a
    %strong
      loop
    \.  We're going to
    explore these more in the next summary.  But, basically, a loop lets you easily do something 
    for each property of a JavaScript object or each item in a list.
  %p
    Let's try another loop:
    %code.cmd
      for (i = 0; i &lt; 5; i++) puts('hello!  i = ' + i);

  .answer undefined

.stretcher.chapmark
  %h3 Now Arriving at Summary #4

  %p
    This last lesson was a bit longer.  You've probably used up three minutes learning about:
  %ul
    %li
      %strong
        Hashes.
      The little dictionary with the curly pages:
      %code
        {}

    %li
      %strong
        Loops.
      Ways to go through all of an object's properties or a list's items and do something.
      Here's the code you used to build a scorecard:
      %br
      %code
        for (book in books) ratings[books[book]] += 1

  %p
    %strong
      That's it for now!
    This is far as I've gotten.

  %p
    In the next Ruby section, they cover Files, method arguments, and do/end for blocks
  %p
    I'll cover function arguments.  I don't think I'll cover anonymous functions *yet*

  .answer next

.stretcher.chapmark
  %h3 Hallo, Who's There? And Summary #5 Waves Its Hat!

  %p
    Well done, well done, well done, well done!  Truly, truly, truly, truly, truuuuuuuuly!
  %p
    Here's the last few minutes of your life in review:
  %ul
    %li
      %strong
        Files.
      What more can be said?  Lots of methods for editing files and lookin around in directories.
    %li
      %strong
        Arguments.
      Arguments are a list of things sent into a method.  With commas between.
    %li
      We also spoke about
      %strong
        do
      and
      %strong
        end
      which are another way to make a block.
  %p
    You totally know how to use JavaScript now.  I mean you've got down the essentials.  You just need to keep learning more methods and
    try out more complex blocks.
  %p
    But there's one side of JavaScript we haven't settled.  Making your own methods and classes.
  %p
    %em
      Ahem!
    Let's get it over with then.
  %p
    Start with:
    %code.cmd
      def load_comics( path )
  .stdout
    \..

.stretcher
  %h3
    In JavaScript, Def Leppard Means
    %em Define Leppard (a Method)!

  %p
    Hey, okay, you done it.  You're making your own method.  You started with
    %code
      def
    , followed by the name of the method.
    And a list of arguments which the method will need.  This isn't too scary and dangerous!
  %p
    All we have to do is fill it up with JavaScript and finish it up with
    %code
      end
    \.
  %p
    Here's the code:
  %ul
    %li
      %code.faded
        def load_comics( path )
    %li
      %code
        \&nbsp;&nbsp;comics = {}
    %li
      %code
        \&nbsp;&nbsp;File.foreach(path) do |line|
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;url, name = line.split(': ')
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;comics[url] = name.strip
    %li
      %code
        \&nbsp;&nbsp;end
    %li
      %code
        \&nbsp;&nbsp;comics
    %li
      %code
        end
  %p
    No need to indent, if you don't want.  I just do that to make it read easier.
  .answer
    nil

.stretcher
  %h3 The Ripened Fruit of Your Own Creation

  %p
    A new method is born.  Let us use it:
    %code.cmd
      comics = load_comics('/comics.txt')
  %p
    %em
      If you have a problem, you might have mistyped.  Use the
      %code
        back
      command and try again.
  .answer
    \\{.*"Achewood"=."http://achewood.com/".*\}

.stretcher
  %h3 Hey, Cool, a Comics Thing

  %p
    In your JavaScript window above, look at the code you've typed for the
    %code
      load_comics
    method.  What is happening?  You're
    passing in the
    %code
      path
    variable and you're getting back the
    %code
      comics
    variable.  JavaScript lets the
    %code
      comics
    hash trickle out the end of the method.
  %p
    A number of methods were used to get the job done.  See if you can spot them.
  %ul
    %li
      %strong
        File.foreach
      is a method which opens a file and hands each line to the block.  The
      %code
        line
      variable inside the
      %code
        do...end
      block took turns with each line in the file.
    %li
      %strong
        split
      is a method for strings, which breaks the string up into an array.  An axe is laid on the colon
      and the line is chopped in half, giving us the
      %code
        url
      and
      %code
        name
      for each comic.
    %li
      %strong
        strip
      removes extra spaces around the name.  Just in case.
  %p
    Right on.  Bravo.  You've got the comics in a JavaScript hash.  But what now?  What good is this really?
  %p
    Let's make a page of links.  How about that?  We'll need to load a little library I've made for you.
  %p
    Type:
    %code.cmd
      require 'popup'
  .answer
    true

.stretcher
  %h3 Browser Puppetry

  %p
    Excellent, you've loaded the
    %em
      popup
    library.  It's saved in a file in the
    %em
      Libraries
    folder.  See:
    %code
      Dir["/Libraries/*"]
  %p
    The popup library contains a bunch of methods I've written which let you control a popup here on the Try JavaScript site.
  %p
    Here, try this:
    %code.cmd
      Popup.goto "http://google.com/"
  .stdout
    \\033\[1;JSm.*popup_goto\(.*\)\033\[m.*

.stretcher
  %h3 Making Links and Spinning Webs

  %p
    Our own lovely, little popup to manipulate.  You can also fill it with your own goodies.  We'll start small:
  %ul
    %li
      %code
        Popup.make {
    %li
      %code
        \&nbsp;&nbsp;h1 "My Links"
    %li
      %code
        \&nbsp;&nbsp;link "Go to Google", "http://google.com/"
    %li
      %code
        }
  %p
    The term
    %code
      h1
    (
    %em
      h-one
    ) means a level-one header.  In HTML, this is the largest size of header.
  .stdout
    \\033\[1;JSm.*popup_make\(.*h1.*a href.*\)\033\[m.*

.stretcher
  %h3
    Popups Are So Easy, It's Crazy
  %p
    Looks good, you did it perfectly, just as you were asked.  Let's make a list then.
  %p
    Here's how you make a list with the popup library:
  %ul
    %li
      %code
        Popup.make do
    %li
      %code
        \&nbsp;&nbsp;h1 "Things To Do"
    %li
      %code
        \&nbsp;&nbsp;list do
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;p "Try out JavaScript"
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;p "Ride a tiger"
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;p "(down River Euphrates)"
    %li
      %code
        \&nbsp;&nbsp;end
    %li
      %code
        end
  %p
    The
    %code
      p
    method is short for "paragraph".
  .stdout
    \\033\[1;JSm.*popup_make\(.*h1.*ul.*li.*li.*\)\033\[m.*

.stretcher
  %h3
    Spread the Comics on the Table
  %p
    Okay, this is coming along wonderfully.  This is simple stuff, but keep in mind that you didn't know
    %em
      any JavaScript whatsoever
    just fifteen minutes ago!
  %p
    Last
    step. Let's tie it all together, you know? Let's make it chime together
    like a very nice set of glistening chimes on the beach in the
    maginificent sunlight!
  %p
    Make sure the comics are loaded:
    %code
      comics = load_comics( '/comics.txt' )
  %p
    Now, let's make a list of the links to each comic:
  %ul
    %li
      %code
        Popup.make do
    %li
      %code
        \&nbsp;&nbsp;h1 "Comics on the Web"
    %li
      %code
        \&nbsp;&nbsp;list do
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;comics.each do |name, url|
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;link name, url
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;end
    %li
      %code
        \&nbsp;&nbsp;end
    %li
      %code
        end
  %p
    You can click on the links and read the comics in the little window even!  Smashing!
  .stdout
    \\033\[1;JSm.*popup_make\(.*h1.*ul.*li.*a href.*li.*a href.*\)\033\[m.*

.stretcher.chapmark
  %h3
    Summary #6 Which Means You've Come So Far
  %p
    You're a level six JavaScript cleric.  I mean what a great job you've done.  Let's review:
  %ul
    %li
      You added your own method with
      %strong
        def
      and you used that
      %code
        load_comics
      method several times.
    %li
      %strong
        Libraries.
      You used the
      %code
        require
      method to load the popup library.
      %br
      By typing:
      %code
        require 'popup'
    %li
      And if that wasn't enough, you made your own web page from a list of comics in a file.
      %strong
        You made a real program!
  %p
    So
    what could possibly be next? What could you possibly have to learn now?
    Ha, this is the best part. You've come such a long way that we're going
    to uncover classes. For two more short lessons and you're done.
  %p
    Earlier, we created a hash like this:
    %code.cmd
      Hash.new
    Try it.
  .answer
    \\{\}

.stretcher
  %h3
    Not a School Class, a Working Class
  %p
    You see, the empty curly braces
    %code
      {}
    is a shortcut for
    %code
      Hash.new
    \.  The
    %code
      new
    method is used to make objects of a certain class. (Think "class" as in
    "working class" — a specific group of objects which are similar, have
    the same jobs, the same shirts.)
  %p
    Ask yourself this:
    %em
      How would I make a blog in JavaScript?
    Where would you start? Well, you might store your blog entries in a
    file, right? But how would you keep track of the title of the entry and
    the time it was posted? And when you loaded the file, how would it look
    in JavaScript? Would it be a Hash? Or an Array? Or an Array of Arrays? Or
    something else?
  %p
    I really think you'll want to use a class.  You are already familiar with many classes:
    %code
      Hash
    ,
    %code
      Array
    ,
    %code
      String
    \.
  %p
    Let's make a new class:
    %code.cmd
      class BlogEntry
    \.
  .stdout
    \..

.stretcher
  %h3
    The Stuff Blogs are Made of
  %p
    You've opened up a new
    %code
      BlogEntry
    class.  What is your blog entry made of?  A title, sure.  Also, a time when the entry was posted.  The
    full text of the entry.
  %p
    We'll do a mood setting, too, just like LiveJournal.
    %img{ :src => "intro_files/sick.gif" }
    The Internet has really brought back stick people and smileys
    out of bankruptcy.
    %em
      Emote!
  %p
    Okay, so you've got the first line of the class, here's the rest:
  %ul
    %li
      %code.faded
        class BlogEntry
    %li
      %code
        \&nbsp;&nbsp;attr_accessor :title, :time, :fulltext, :mood
    %li
      %code
        end
  .answer
    nil

.stretcher
  %h3
    Accessors Are the Dangling Limbs
  %p
    Hey, good class, man.  You've got a new
    %code
      BlogEntry
    class.  To start an entry:
    %br
    %code.cmd
      entry = BlogEntry.new
    \.
  %p
    In the class definition, you used a method called
    %code
      attr_accessor
    \.  There are many
    %strong
      attr
    ibute methods like
    this which add little settings to classes.  These attributes are just variables attached to a class.
  %p
    Think
    of it this way. A class is like a person. That star-shaped human thing
    out there. And the attributes are the dangling limbs, the different
    parts that make up a body.
  %p
    To set the title of your entry:
    %code.cmd
      entry.title = "Today Mt. Hood Was Stolen!"
  .answer
    ".+"

.stretcher
  %h3
    An Object, That Neat Little Package
  %p
    Go ahead and set the post time:
    %code.cmd
      entry.time = Time.now
  %p
    And the mood:
    %code.cmd
      entry.mood = :sick
  %p
    And the post itself:
    %code.cmd
      entry.fulltext = "I can't believe Mt. Hood was stolen!  I am speechless!  It was stolen by a giraffe who drove away
      in his Cadillac Seville very nonchalant!!"
  %p
    To see all your settings, just type at the prompt:
    %code.cmd
      entry
    \.
  .answer
    \#.BlogEntry:0x[0-9a-f]+ ((@title|@mood|@time|@fulltext)=.*?, ){3}.*

.stretcher
  %h3
    Quickening it Up
  %p
    Cool,
    you're blog is awesome. Hey, let's make things a bit easier on you.
    You're not going to want to set the time like that every time you post.
    You just want to type in the title and the entry and the mood quickly,
    right?
  %p
    Let's add an
    %code
      initialize
    method.
  %ul
    %li
      %code
        class BlogEntry
    %li
      %code
        \&nbsp;&nbsp;def initialize( title, mood, fulltext )
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;@time = Time.now
    %li
      %code
        \&nbsp;&nbsp;&nbsp;&nbsp;@title, @mood, @fulltext = title, mood, fulltext
    %li
      %code
        \&nbsp;&nbsp;end
    %li
      %code
        end
  %p
    Once you've got that typed in, try making a new entry:
    %code.cmd
      BlogEntry.new
  .stdout
    ArgumentError: wrong number of arguments \(0 for 3\).*

.stretcher
  %h3
    You've Taught Your Blog to Reject Worthless Things
  %p
    Did you see how inside the class we used the at-symbols?  Like this:
    %code
      @time = Time.now
  %p
    Outside the class, we use accessors:
    %code
      entry.time = Time.now
    But inside we use
    %em
      instance variables
    \:
    %code
      @time = Time.now
    They're the exact same thing, but expressed in two different places of your program.
  %p
    Your blog now needs a title, a mood and a post in order to work.  When a new
    %code
      BlogEntry
    is created, the
    %code
      initialize
    method
    is used to check for any arguments to
    %code
      new
    \.  Uh, we need three arguments!
  %p
    Try it again with all three.
  %p
  %p
    %code.cmd
      entry2
      \= BlogEntry.new( "I Left my Hoodie on the Mountain!", :confused, "I am
      never going back to that mountain and I hope a giraffe steals it." )
  .answer
    \#.BlogEntry:0x[0-9a-f]+ ((@title|@mood|@time|@fulltext)=.*?, ){3}.*

.stretcher.chapmark
  %h3
    A Giraffe Has Not Stolen Summary #7
  %p
    Aha, you're here.  And all in one piece.  We're still going to make your blog real, but until then, let's review, okay?
  %ul
    %li
      %strong
        Classes.
      Everything in JavaScript is some kind of object.  Classes explain objects.  How a certain object works.
      For example, you made a few blog entry objects and these objects are explained in the
      %code
        BlogEntry
      class.
      In other words: you call them BlogEntry objects.
    %li
      %strong
        Accessors
      are variables attached to an object which can be used
      %em
        outside
      the object. (
      %code
        entry.time = Time.now
      )
    %li
      %strong
        Instance variables
      are the same variables you're using for accessors when
      %em
        inside
      the object.
      Like in a method definition.  (
      %code
        @time = Time.now
      )
  %p
    Okay,
    let's wrap things up, kid. Here's the last chapter of the GRIPPING epic
    story of Try JavaScript! Now that you've got a taste of how it all works, how
    are you going to use it around the house and in your grocer's freezer?
    You're a great person (one of my favorites), but you need guidance.
  %p
    Let's finish your blog.  You have blog entries, but no actual blog.
  %p
    Put the entries into an array:
    %code.cmd
      blog = [entry, entry2]
  .answer
    \\[#.BlogEntry:0x[0-9a-f]+.*, #.BlogEntry:0x[0-9a-f]+.*\]

.stretcher
  %h3
    It's All About Combining Things
  %p
    Some
    beautiful things can be done with the simple parts of JavaScript, especially
    when you combine them together into new things. Here we've got a blog
    made of an array of classes. And, actually, JavaScript really does good with
    this kind of creature.
  %p
    Here's a few things you can do with your array blog:
  %ul
    %li
      You'll want to sort your entries from newest to oldest.  You can do this with:
      %br
      %code
        blog.sort_by { |entry| entry.time }.reverse
      %br
      See the
      %a{ :href => "http://ruby-doc.org/core/classes/Enumerable.html#M001945", :target => "_new" }
        sort_by
      explanation for more.
    %li
      If you want to search your blog for anything related to "cadillac":
      %br
      %code
        blog.find_all { |entry| entry.fulltext.match(/cadillac/i) }
      %br
      Read all about
      %a{ :href => "http://ruby-doc.org/core/classes/Enumerable.html#M001949", :target => "_new" }
        find_all
      and
      %a{ :href => "http://ruby-doc.org/core/classes/String.html#M001380", :target => "_new" }
        match
      to figure out how that works.  Also: the slashy
      %code
        \/giraffe/i
      is a Regexp object, used for matching words.
    %li
      Add new entries with
      %code
        blog &lt;&lt; new_entry
      %br
      And check out the
      %a{ :href => "http://ruby-doc.org/core/classes/Array.html#M000360", :target => "_new" }
        \&lt;&lt;
      method documentation.
  %p
    You can browse a list of all JavaScript's built-in methods at
    %a{ :href => "http://ruby-doc.org/core/", :target => "_new" }
      ruby-doc.org's core
    list.
    Another good list is at the
    %a{ :href => "http://www.whytheluckystiff.net/ruby/pickaxe/html/builtins.html" }
      online pickaxe
    \.
  %p
    One
    %em
      really
    useful method (I probably use this more than anything else) is
    %code
      map
    \.  Type:
    %code.cmd
      blog.map { |entry| entry.mood }
  .answer
    \\[(:\w+, )+:\w+\]

.stretcher
  %h3
    Look at His Face — The Transformation Has Begun
  %p
    The
    %code
      map
    method cycles through an array and replaces each item with something new.  Say you wanted to replace each of your blog entries
    with the name
    %em
      Bruce Willis
    \.  Do it so:
    %code
      blog.map { "Bruce Willis" }
  %p
    Since the block always returns the string "Bruce Willis", that's what you get.  In the code you just used, the
    %code
      entry
    was swapped out
    for only the
    %code
      entry.mood
    \.
  %p
    Now,
    I want you to make a popup with your blog entries. I'm not going to
    give you all of the code. I'm just going to give you part of it.
  %ul
    %li
      %code
        blog.each do |entry|
    %li
      %code
        \&nbsp;&nbsp;h2 entry.title
    %li
      %code
        \&nbsp;&nbsp;p entry.fulltext
    %li
      %code
        end
  %p
    Now, I expect you to put the popup code around it and add an
    %code
      h1
    title with the name of your blog.  For extra haroompf, have the time of each entry display.
  .stdout
    \\033\[1;JSm.*popup_make\(.*h1.*h2.*p.*h2.*p.*\)\033\[m.*

.stretcher
  %h3
    You are Some Kind of Web Guru, I Have Stars in My Eyes
  %p
    Good,
    that's it! This is exactly the code you can use to write your own real
    JavaScript blog. If you're feeling adventurous, I'd check out the Rails
    %a{ :href => "http://rubyonrails.org/screencasts", :target => "_new" }
      videos
    which show a swift young fellow creating a blog in 15 minutes.  You just sit back and watch.
  %p
    I
    should mention Rails. You have been learning the JavaScript language, how to
    speak it. But Rails is a bunch of libraries (sort of like the popup
    library we've been using.) It's a very powerful toolkit for building
    websites. If you're interested in learning about Rails, I would
    %a{ :href => "http://rubyonrails.org/", :target => "_new" }
      head
      over there
    right away.  Start using your JavaScript skills proper!
  %p
    One thing Rails has is easy methods for dates.  Like, try:
    %code.cmd
      Time.now - 2.weeks
  .load
    class Integer; def weeks; self * 7*24*60*60; end; end
  .answer
    \\w+ \w+ \d+ \d{2}:\d{2}:\d{2} .*

.stretcher
  %h3
    If You Want to Start Small
  %p
    If you'd like to start writing little JavaScript programs just to practice, I have a project called
    %a{ :href => "http://code.whytheluckystiff.net/mouseHole/", :target => "_new" }
      MouseHole
    which is a little web toolkit for writing short JavaScript programs.  You can look over a
    %a{ :href => "http://code.whytheluckystiff.net/mouseHole/wiki/UserScripts", :target => "_new" }
      few
      scripts
    to see what I mean.
  %p
    MouseHole
    isn't for writing web sites really. It's just for writing little
    programs you run inside your browser. Like there's a notepad program
    for MouseHole and a program which adds a mouse picture next to links on
    the web which link to MouseHole programs.
  %p
    I've got a MouseHole script inside a file here:
    %br
    %code.cmd
      print File.read("/MouseHole/flickrpedia.user.rb")
  .stdout
    \.*Inserts Wikipedia links for Flickr tags.*

.stretcher.chapmark
  %h3
    Summary #8, The Hey-Relax-You-Did-Good Summary
  %p
    This last section took a moment to wind down, to give you some pointers as to how you can use JavaScript.  If you enjoyed yourself,
    download JavaScript and install it.
  %ul
    %li
      For Mac:
      %a{ :href => "http://homepage.mac.com/discord/JavaScript/", :target => "_new" }
        JavaScript OS X Installer Package
    %li
      For Windows:
      %a{ :href => "http://rubyforge.org/frs/download.php/4174/ruby182-15.exe", :target => "_new" }
        JavaScript Installer for Windows
    %li
      Other platforms:
      %a{ :href => "http://www.ruby-lang.org/en/20020102.html", :target => "_new" }
        Source
  %p
    Once you have JavaScript installed, you can use Interactive JavaScript by running
    %code
      irb
    on your system's prompt.  For more on Irb,
    there's
    %a{ :href => "http://poignantguide.net/ruby/expansion-pak-1.html", :target => "_new" }
      The Tiger's Vest
    to help you.
  %p
    You
    really deserve a double-layer cake with double-double frosting and a
    guy playing one of those guitars that's a double guitar. I mean you
    finished, you really did! No doubt about it, you're a certified
    red-blooded smartiac!
  %br
